<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shavok End Points</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="loader">
        <h1>Shavok End Points</h1>
    </div>
    <table border="2px">
        <thead>
            <tr>
                <th>Endpoints</th>
                <th>Methods</th>
                <th>Purpose</th>
            </tr>
        </thead>
        <tbody>
            <tr><td>/</td> <td>GET</td> <td>This html Site</td></tr>
            <tr><td>/status</td> <td>GET</td> <td>get status</td></tr>
            <tr><td>/echo</td><td>POST</td> <td>echos back post request</td></tr>
            <tr><td>/greet/<name></td><td>GET</td> <td>greets with name</td></tr>
        </tbody>
    </table>
    <script src="/static/index.js"></script>
</body>
</html>

